<script>
$(function() {
  $('a#facebook-login').click(function(e) {
    e.preventDefault();
    FB.login(function(response) {
      console.log(response);
      if (response.authResponse) {
        $('#connect').html('Connected to Facebook. Logging in...');
        $.getJSON('/auth/facebook/callback', function(json) {
	  console.log("connected");
          $('#connect').html('Connected! Callback complete.');
          $('#results').html(JSON.stringify(json));
        });
      }
    }, { scope: 'public_profile,email' });
  });
});
</script>
<div class="row">
	<div class="col-sm-12">
		<h1>Welcome</h1>
		<% if session[:user] == nil then %>
			<a href="/auth/facebook">Login with Facebook</a><br>
			<!--<a id="facebook-login" href="#">Popup login</a><br>-->
		<% else %>
		<p>
			<a href="/logout">Logout</a><br>
			Hello, <%= session[:user]["name"] %>
		</p>
		<% end %>
		<div id="connect"></div>
		<div id="results"></div>
	</div>
</div>
